<footer>
    <div class="d-flex">
        <img src="/images/logo.png" alt="logo">
        <div class="details">
            <p>Weekdays: 9 a.m - 9 p.m</p>
            <p>Contact Number: 17736762</p>
            <p>Email Address: <a href="mailto:gcit.canteen@gmail.com">gcit.canteen@gmail.com</a></p>
        </div>
    </div>
    <hr>
    <div class="copy">
        <p>Copyright &copy; BC-Agile Autumn semester 2024</p>
    </div>
</footer>