<%- include('./layouts/header') %>
<link rel="stylesheet" href="/css/addMenu.css">
</head>
<body>
    <%- include('./layouts/navbar') %>
    <main class="wrapper">
        <div class="add-menu">
            <a href="#">Add Recipe</a>
        </div>
    </main>
    <%- include('./layouts/footer') %>
</body>
</html>