<%- include('./layouts/header') %>
<link rel="stylesheet" href="/css/userHome.css">
</head>
<body>
    <%- include('./layouts/navbar') %>
    <main class="wrapper">
        <p id="userId" hidden aria-hidden="true"><%= user._id %></p>
        <div class="search-wrapper">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="search recipe by name..." id="search-input" autocomplete="off" spellcheck="false">
        </div>
        <div class="category-filter">
            <div class="d-flex">
                <a href="/user/home" title="food"><div class="food"><i class='bx bxs-bowl-rice'></i></div></a>
                <div class="line"></div>
                <a href="/user/drinks" title="drinks"><div class="drinks"><i class='bx bxs-coffee'></i></div></a>
            </div>
        </div>
        <div class="menu-wrapper">
        </div>
    </main>
    <%- include('./layouts/footer')  %>
    <script src="/js/userDrinks.js"></script>
</body>
</html>