<%- include ('layouts/header') %>
<link rel="stylesheet" href="/css/error_40x.css">
</head>
<body>
    <main class="wrapper">
        <h1>Oops... seems like there was an issue with the request.</h1>
        <br />
        <h3><%= error.status %> | <%= error.message %></h3>
        <br />
        <a href="/">← Back to home</a>
    </main>
</body>
</html>