<%- include ('layouts/header') %>
<link rel="stylesheet" href="error_40x.css">
</head>
<body>
    <h1>Oops... seems like there was an issue with the request.</h1>
    <br />
    <h3><%= error.status %> | <%= error.message %></h3>
    <br />
    <a href="/auth/register">â† Back to home</a>
</body>
</html>