<%- include('./layouts/header') %>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <main class="wrapper">
        <%- include('./layouts/flash-message') %>
        <img src="/images/logo.png" alt="GCIT logo">
        <h1>login</h1>
            <form action="/auth/login" id="login-form">
                <div class="form-field">
                    <input type="email" name="email" id="email" placeholder="Email" required autocomplete="off" spellcheck="false" autofocus>
                </div>
                <div class="form-field">
                    <input type="password" name="password" id="password" placeholder="password" autocomplete="off" spellcheck="false" required>
                    <i class='bx bxs-hide password-icon' id="password-icon"></i>
                    <small class="instruction"></small>
                    <a href="#">Forgot password?</a>
                </div>
                <input type="submit" value="Login">
                <p class="register-link">Don't have an account?  <a href="/auth/register">Create account <i class='bx bx-link-external'></i></a></p>
            </form>
    </main>
    <script src="/js/login.js"></script>
</body>
</html>
